<html>
  <head>
    <title>Navtastic Demo Server</title>
  </head>

  <body>
    <h1>Renderers:</h1>

    <ul>
      <li><a href="simple">Simple</a></li>
      <li><a href="bootstrap4">Bootstrap4</a></li>
      <li><a href="bulma">Bulma</a></li>
      <li><a href="foundation6">Foundation6</a></li>
    </ul>
  </body>
</html>
